header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  
 
  
  #blog-box {
    border: solid;
    border-width: 5px;
    border-color: #070101;
    margin: 5px;
    background-color: #c77fedf3;
  }
  
  #blog-box h2 {
    background-color:#bf6feaf3;
    border: solid;
    border-width: 5px;
    border-color: #bf6feaf3;
  }
  
  #blog-box p {
    padding: 5px;
  }
  
  #blog-box h6 {
    padding: 5px;
    background-color: #c77fedf3;
  }
  
  #comment-box {
    border-top: solid;
    border-top-width: 5px;
    border-color: #efe5e5;
    padding: 5px;
    background-color: #c77fedf3;
    color: white;
  }
  
  #comment-btn {
    margin: 5px;
    
  }
  
  #comment-div {
    margin: 5px;
    background-color: #d3bbe0f3;
  }

  